USE [NIIEPay]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/28/2025 12:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/28/2025 12:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](20) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[AccountHolder] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[CitizenId] [varchar](20) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[AvailableBalance] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deposit]    Script Date: 7/28/2025 12:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[DepositDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterestRates]    Script Date: 7/28/2025 12:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterestRates](
	[TermMonths] [int] NOT NULL,
	[InterestRate] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TermMonths] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Savings]    Script Date: 7/28/2025 12:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Savings](
	[SavingId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[TermMonths] [int] NOT NULL,
	[InterestRate] [decimal](4, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[MaturityDate] [date] NOT NULL,
	[AutoRenew] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SavingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 7/28/2025 12:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[FromAccountId] [int] NULL,
	[ToAccountId] [int] NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[TransactionTime] [datetime] NOT NULL,
	[BalanceAfter] [decimal](18, 3) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[IsInternal] [bit] NOT NULL,
	[ExternalBankCode] [varchar](10) NULL,
	[TransactionCode] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [AccountNumber], [Password], [AccountHolder], [Phone], [Email], [CitizenId], [ExpiryDate], [AvailableBalance]) VALUES (1, N'123123', N'hehehe', N'Le Nhat Tan', N'07345345', N'tan@gmail.com', N'0492546672', CAST(N'2026-07-28' AS Date), CAST(50.000 AS Decimal(18, 3)))
INSERT [dbo].[Accounts] ([AccountId], [AccountNumber], [Password], [AccountHolder], [Phone], [Email], [CitizenId], [ExpiryDate], [AvailableBalance]) VALUES (2, N'456456', N'123', N'Minh Dang', N'07864456', N'Dang@gmail.com', N'056456', CAST(N'2026-07-28' AS Date), CAST(50.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Deposit] ON 

INSERT [dbo].[Deposit] ([Id], [AccountId], [Amount], [DepositDate]) VALUES (1, 1, CAST(100.000 AS Decimal(18, 3)), CAST(N'2025-07-28T12:16:52.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Deposit] OFF
GO
INSERT [dbo].[InterestRates] ([TermMonths], [InterestRate]) VALUES (1, CAST(3.50 AS Decimal(4, 2)))
INSERT [dbo].[InterestRates] ([TermMonths], [InterestRate]) VALUES (2, CAST(3.70 AS Decimal(4, 2)))
INSERT [dbo].[InterestRates] ([TermMonths], [InterestRate]) VALUES (3, CAST(3.80 AS Decimal(4, 2)))
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [FromAccountId], [ToAccountId], [Amount], [TransactionTime], [BalanceAfter], [Note], [IsInternal], [ExternalBankCode], [TransactionCode]) VALUES (1, 1, 2, CAST(50.000 AS Decimal(18, 3)), CAST(N'2025-07-28T05:18:12.927' AS DateTime), CAST(50.000 AS Decimal(18, 3)), N'Le Nhat Tan chuyen tien nhe', 0, N'string', N'A3D80E70BB294837B43E5E4A6124A150')
INSERT [dbo].[Transactions] ([TransactionId], [FromAccountId], [ToAccountId], [Amount], [TransactionTime], [BalanceAfter], [Note], [IsInternal], [ExternalBankCode], [TransactionCode]) VALUES (2, 1, 2, CAST(50.000 AS Decimal(18, 3)), CAST(N'2025-07-28T05:18:14.370' AS DateTime), CAST(0.000 AS Decimal(18, 3)), N'Le Nhat Tan chuyen tien nhe', 0, N'string', N'9039E21666E24405AA9C513ADF3F33D8')
INSERT [dbo].[Transactions] ([TransactionId], [FromAccountId], [ToAccountId], [Amount], [TransactionTime], [BalanceAfter], [Note], [IsInternal], [ExternalBankCode], [TransactionCode]) VALUES (3, 2, 1, CAST(50.000 AS Decimal(18, 3)), CAST(N'2025-07-28T05:18:50.490' AS DateTime), CAST(50.000 AS Decimal(18, 3)), N'Dang chuyen tien nhe', 0, N'string', N'51DB14DF5AC848C5B6A418049338D315')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__BE2ACD6F4691BA02]    Script Date: 7/28/2025 12:31:17 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Transact__D85E7026860431D2]    Script Date: 7/28/2025 12:31:17 PM ******/
ALTER TABLE [dbo].[Transactions] ADD UNIQUE NONCLUSTERED 
(
	[TransactionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Deposit] ADD  DEFAULT (getdate()) FOR [DepositDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionTime]
GO
ALTER TABLE [dbo].[Deposit]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Savings]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
