USE [NIIEPay]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/27/2025 2:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](20) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[AccountHolder] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[CitizenId] [varchar](20) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[AvailableBalance] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterestRates]    Script Date: 7/27/2025 2:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterestRates](
	[TermMonths] [int] NOT NULL,
	[InterestRate] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TermMonths] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Savings]    Script Date: 7/27/2025 2:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Savings](
	[SavingId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TermMonths] [int] NOT NULL,
	[InterestRate] [decimal](4, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[MaturityDate] [date] NOT NULL,
	[AutoRenew] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SavingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 7/27/2025 2:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[FromAccountId] [int] NULL,
	[ToAccountId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionTime] [datetime] NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[IsInternal] [bit] NOT NULL,
	[ExternalBankCode] [varchar](10) NULL,
	[TransactionCode] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[InterestRates] ([TermMonths], [InterestRate]) VALUES (1, CAST(3.50 AS Decimal(4, 2)))
INSERT [dbo].[InterestRates] ([TermMonths], [InterestRate]) VALUES (2, CAST(3.70 AS Decimal(4, 2)))
INSERT [dbo].[InterestRates] ([TermMonths], [InterestRate]) VALUES (3, CAST(3.80 AS Decimal(4, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__BE2ACD6F7961B982]    Script Date: 7/27/2025 2:36:12 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Transact__D85E7026A24593A1]    Script Date: 7/27/2025 2:36:12 PM ******/
ALTER TABLE [dbo].[Transactions] ADD UNIQUE NONCLUSTERED 
(
	[TransactionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionTime]
GO
ALTER TABLE [dbo].[Savings]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
